.player-turn {
    border: 2px grey solid;
    border-radius: 1px;
    font-size: 20px;
    transition: background linear .5s, color linear 1s;
    margin: 8px auto;
    max-width: 40%;
}

.Black {
    background: black;
    color: white;
}

.White {
    background: white;
    color: black;
}

.container > .page-layout__viewport {
    padding-top: 0;
}
